<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
</div>

<div id="map"></div>

<script>

  var initMap = function () {

    var data;
    jQuery.ajax({
      url: 'stats/timeline',
      data: "year=2015",
      success: function (fetchedData) {
        data = fetchedData;
      },
      async: false
    });

    var locations = {
      jingu: {lat: 35.676694, lng: 139.699347},
      fushimi: {lat: 34.967448, lng: 135.772672}
    };
    var map = new google.maps.Map($('#map')[0], {
      zoom: 8,
      center: locations["jingu"]
    });


    new google.maps.Marker({
      position: locations["jingu"],
      map: map,
      title: 'Hello World!',
      icon: getIcon(data["jingu"]["congestion"])
    });
    new google.maps.Marker({
      position: locations["fushimi"],
      map: map,
      title: 'Hello World!',
      icon: getIcon(data["fushimi"]["congestion"])
    });
  }

  function getIcon(level) {
    var icon = new google.maps.MarkerImage('assets/icon/' + level + '.png');
    icon.scaledSize = new google.maps.Size(64, 64);
    return icon;
  }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2COQXpmyEeBv6w4IHG59EaQoC3BxFUDo&signed_in=true&callback=initMap"></script>
