<div class="panel panel-default">
  <div class="panel-heading">
    メッセージ一覧
  </div>
</div>

<div id="map"></div>

<script>
  function initMap() {
    var locations = {
      jingu: {lat: 35.676694, lng: 139.699347},
      fushimi: {lat: 34.967448, lng: 135.772672}
    };
    var map = new google.maps.Map($('#map')[0], {
      zoom: 8,
      center: locations["jingu"]
    });
    var icon = new google.maps.MarkerImage('assets/icon/1.png');
    icon.scaledSize = new google.maps.Size(64, 64);

    new google.maps.Marker({
      position: locations["jingu"],
      map: map,
      title: 'Hello World!',
      icon: icon
    });
    new google.maps.Marker({
      position: locations["fushimi"],
      map: map,
      title: 'Hello World!',
      icon: icon
    });
  }
  $.get("stats/timeline"
      , {year: '2015'}
      , function (data) {
        console.info(data);
      }
  )
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2COQXpmyEeBv6w4IHG59EaQoC3BxFUDo&signed_in=true&callback=initMap"></script>
