@charset "UTF-8";

body {
  font-family: 'Noto Sans', sans-serif,"Apple TP","Helvetica Neue","Helvetica","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","Meiryo","ＭＳ Ｐゴシック","Arial","Verdana","sans-serif";
  line-height: 1.4;
}
.f_l {
  float: left;
}

#header {
  background-color: #fff;
  height: 90px;
  width: 100%;
  top: 0;
  z-index: 1;
  border-bottom: solid 3px #F59D00;
}
#header .navbar-header {
  height: 80px;
}
#header .navbar-header .list-sp {
  padding-right: 90px;
}
#header .navbar-header .menu-button {
  border: solid 2px #F59D00;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  background-color: #fff;
  padding: 7px 7px;
  margin-right: 15px;
  margin-top: 12px;
}
#header .navbar-header .sns-icon-sp {
  margin-right: 6px;
  margin-top: 18px;
  border: none;
  padding: 0;
}
#header .navbar-header .sns-icon-sp a img {
  width: 30px;
}
#header .navbar-header .sns-icon-sp a img:hover {
  opacity: 0.8;
}
#header .navbar-header a.navbar-brand {
  margin-left: 15px;
  padding: 11px 7px;
}
@media (max-width: 767px) {
  #header .navbar-header a.navbar-brand {
    margin-left: 15px;
    padding: 17px 7px;
  }
}
#header .navbar-header {
  padding-top: 13px;
  padding-left: 16px;
}
#header .navbar-header .icon-bar {
  background-color: #F59D00;
}
@media (max-width: 767px) {
  #header {
    height: 60px;
  }
  #header .sns-icon-wb {
    display: none;
  }
  #header .navbar-header {
    padding: 0;
    height: 60px;
  }
  #header .navbar-header h1{
    font-size: 20px;
    margin-top: 7px;
    word-break: keep-all;
  }
  #header .navbar-header a.navbar-brand img {
    height: 30px;
  }
  #header .list-sp {
    padding-right: 10px;
  }
  #header #site-menu {
    background-color: #fff;
    margin-top: -1px;
    border-width: 0;
  }
  #header #site-menu .navbar-nav {
    padding-top: 0px;
  }
  #header .navbar-header .sns-icon-sp img{
    width: 25px;
  }
}
@media (min-width: 768px) {
  #header .navbar-header a.navbar-brand img {
    height: 42px;
  }
  #header #site-menu .navbar-nav {
    padding-top: 30px;
  }
  #header .sns-icon-wb {
    margin-right: 30px;
  }
  #header .sns-icon-wb img {
    width: 30px;
    margin: 6px 0 6px;
  }
}
.nav > li > a:hover, .nav > li > a:focus{
  background-color: #fff;
}
.navbar{
  border-radius: 0px;
}
